/*components reutilizables**/
.card{
    border-radius: 8%;
    width: 25%;
}
.card strong, em{
    color: rgb(147, 148, 149);
}
.navbar{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    padding: 10px 20px;
}
/**botones de navegacion*/
.navbar__menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
.navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
/**tamño del logo*/
.navbar__logo img{
    height: 60px;
    width: 60px;
}