<section class="changelog">
        <h2>ChangeLog</h2>
        <p>Here's everything we have shipped in the past few days</p>
        <ul class="lineaDeTiempo">
            <li>
                <span class="date">September 3, 2024</span>
                <div class="circulo"></div>
                <p>Announcing Projects on Frontend Roadmap</p>
            </li>
            <li>
                <span class="date">Agust 28, 2024</span>
                <div class="circulo"></div>
                <p>Build your learning habits with learning streaks</p>
            </li>
            <li>
                <span class="date">Agust 28, 2024</span>
                <div class="circulo"></div>
                <p>Build your learning habits with learning streaks</p>
            </li>
        </ul>
        <button type="button" class="btn">Visit Complete ChangeLog</button>
</section>
